body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url(https://i.pinimg.com/1200x/4c/fe/ac/4cfeace478ec48bb2065707cf5e104c6.jpg);
}

#container{
    height: 390px;
    width: 350px;
    border: 5px solid black;
    border-radius: 5px;
}

h1{
    text-align: center;
    color: brown
}

#box{
    margin: 10px;
    font-size: 20px;
    padding: 2px;
}

#box1{
    margin: 10px;
    font-size: 20px;
    padding: 2px;
}

#box2{
    margin: 10px;
    font-size: 20px;
    padding: 2px;
}

#email{
    width: 98%;
    height: 25px;
    margin-top: 10px;
}

#pass{
    width: 98%;
    height: 25px;
    margin-top: 10px;
}

#pass1{
    width: 98%;
    height: 25px;
    margin-top: 10px;
}

#reset{
    background-color: rgb(38, 29, 29);
    color: white;
    height: 30px;
    width: 96%;
    margin: 7px;
    padding: 3px;
    cursor: pointer;
    border: none;
    border-radius:5px ;
    font-size: 15px;
}

#btl{
    text-align: center;
    margin-top: 5px;
}
a{
    color: brown;
}