/* *{
    margin: 0;
    padding: 0;
    background-color: black;
} */

#container{
    height: 200px;
    width: 300px;
    background-color: white;
    /* position: relative; */
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
}

#circle{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    /* position: absolute;
    left: 100px;
    top:50px; */
}