#container{
    height: 300px;
    width: 450px;
    background-color: rgb(1, 1, 82);
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#circle{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    /* position: absolute;
    left: 150px;
    top: 75px; */
}

#rectangle1{
    height: 74px;
    width: 450px;
    background-color: rgb(255, 0, 0);
    /* box-sizing: border-box;
    position: absolute; */
    position: fixed;
    left: 9px;
    top:9px;
}
#rectangle2{
    height: 74px;
    width: 450px;
    background-color: rgb(255, 0, 0);
    /* box-sizing: border-box;
    position: absolute;
    top: 225px; */
    position: fixed;
    left: 9px;
    top: 233px;

    /* bottom: 384px;*/
}