*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color:bisque; */
    background-image: url(https://i.pinimg.com/1200x/4c/fe/ac/4cfeace478ec48bb2065707cf5e104c6.jpg);
}

.box{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

.inputBox{
    font-size: 25px;
    font-weight: bold;
    margin-left: 3px;
}

#first{
    margin:5px;
    padding: 5px;
    height: 35px;
    width: 95%;
    font-size: 15px;
    border-radius: 5px;
}

#second{
    margin:5px;
    padding: 5px;
    height: 35px;
    width: 95%;
    font-size: 15px;
    border-radius: 5px;
}

p{
    margin-left:100px;
    margin-top: 20px;
    color: black;
}
.links{
    text-align: center;
    margin: 20px;
    font-size: 18px;
}


button{
    margin:10px 150px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: brown;
    color: white;
    cursor: pointer;
}

#username,#password{
    padding: 5px;
    color: black;
}
a{
    color: brown;
}