*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container{
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.129);
    font-size: 40px;
    padding: 10px;
    color: white;
    width: 70%;
    white-space: nowrap;
    overflow:hidden;
}

p{
    margin-left: 100%;
    animation-name: moving;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes moving {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}

/* hidden wale animations ko kehte hai marquee */