body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/1200x/4c/fe/ac/4cfeace478ec48bb2065707cf5e104c6.jpg);
}
#container{
    height: 560px;
    width: 500px;
    border: 5px solid black;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

.name-row{
    display: flex;
    margin: 20px;
    font-size: 20px;
    width: 100%;
}
.namerow{
    display: flex;
}

#emailAdd{
    display: block;
    margin: 20px;
    font-size: 20px;
    width: 90%;
}

#phoneNumber{
    display: block;
    margin: 20px;
    font-size: 20px;
    width: 100%;
}

#City{
    display: block;
    margin: 20px;
    font-size: 20px;
    width: 100%;
}

#Country{
    display: block;
    margin: 20px;
    font-size: 20px;
    width: 100%;
}

#fname{
    height: 30px;
    margin-top: 10px;
}
#lname{
    height: 30px;
    margin-top: 10px;
}
#email{
    height: 30px;
    width: 100%;
    font-size: 15px;
    margin-top: 10px;
}
#phone{
    height: 30px;
    width: 90%;
    font-size: 15px;
    margin-top: 10px;
}
#selCity{
    height: 30px;
    width: 100%;
    font-size: 15px;
    display: block;
    margin-top: 10px;
}
#selCountry{
    height: 30px;
    width:100%;
    font-size: 15px;
    display: block;
    margin-top: 10px;
}
.front{
    display: flex;
}

#mid{
    text-align: center;
}
a{
    color: brown;
}

#btn{
    text-align: center;
}
button{
    margin:10px 150px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: brown;
    color: white;
    cursor: pointer;
}