#container{
    height:250px;
    width: 400px;
    background-color: rgb(19, 19, 247);
    position: relative;
}

#rectangle1{
    height: 250px;
    width: 50px;
    background-color: yellow;
    position: absolute;
    left: 100px;
}
#rectangle2{
    height: 50px;
    width: 400px;
    background-color: yellow;
    position: absolute;
    top: 100px;
}